{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}


<style>
  video {
       max-width: 100%;
       height: auto;
  }
  </style>

<section id="{{ $name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
  <div class="container py-5">
    <div class="row">
      <div class="col text-center
        {{- if eq $bg "dark" -}}
          {{- printf " text-%s" "light" -}}
        {{- else -}}
          {{- printf " text-%s" "dark" -}}
        {{- end -}}
      ">
        <h4>Spink - Speak by blink</h4>
      </div>
    </div>
    <div class="row" width="500px"> 
      <div class="col text-center"> 
        <br> <br>
        <h6>Spink è la prima app sul Play Store per parlare con <b>il battito degli occhi</b>.</h6>
        <h6>Il testo predittivo permette di scrivere più <b>velocemente</b>.</h6> 
        <h6>Puoi usare Spink per <b>chattare</b> con altre persone nel mondo.</h6> 
        <h6>Spink è <b>gratis</b>.</h6>
        <br> <br>
        <video width="500px"  max-width="600"  controls>
          <source src="SpinkIta.mp4" type="video/mp4">
            Il tuo browser non supporta questo video tag.
        </video>
        <p></p>
      </div>
    </div>
  </div>
</section>
