{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}


<style>
  video {
       max-width: 100%;
       height: auto;
  }
  </style>

<section id="{{ $name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
  <div class="container py-5">
    <div class="row">
      <div class="col text-center
        {{- if eq $bg "dark" -}}
          {{- printf " text-%s" "light" -}}
        {{- else -}}
          {{- printf " text-%s" "dark" -}}
        {{- end -}}
      ">
        <h4>Spink - Speak by blink</h4>
      </div>
    </div>
    <div class="row" width="500px"> 
      <div class="col text-center"> 
        <br> <br>
        <h6>Spink is the first app on Play Store for speaking by <b>blinking your eyes</b>.</h6>
        <h6>Text prediction makes the writing  process <b>faster</b>.</h6> 
        <h6>You can use Spink to <b>chat</b> with other people around the world.</h6> 
        <h6>Spink is <b>free</b>.</h6>
        <br> <br>
        <video width="500px"  max-width="600"  controls>
          <source src="SpinkEng.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p></p>
      </div>
    </div>
  </div>
</section>
